/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
} 

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    padding-right: 0px;
}

body {
    max-width: 1440px;
}

.main-container {
    width: 100%;
    max-width: 1400px;
    /* margin: 0 auto; */
    /* padding: 30px; */
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 30px;
    height: 575px;
    margin-bottom: 9%;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
}
div.populaires-title h2 {
    /* align-items: center; */
    margin-top: 10px;
    /* width: fit-content; */
}

.populaires-cards .card {
    display: flex;
    margin-top: 27px;
    width: 100%;
    padding-right: 4%;
}

.populaires-cards img {
    width: 37%;
    height: 124px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 60%;
    padding-left: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 15px;
}

.populaires-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 14.6px;
}

.populaires-cards .card-subtitle {
    margin-left:0px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* à partir de la je prend la main */

nav {
    display: flex;
    width: 96%;
    max-width: 1440px;
    justify-content: space-between;
}
.logo {
    width: 61px;
    margin-left: 28px;
    margin-top: 5px;
    height: 19px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 36px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: 3%;
}
.hebergementss {
    display: inline-block;
    /* padding-bottom: 5px; */
    transition: color 0.3s ease-in-out;
    width: fit-content;
    position: relative;
    padding-top: 3px;
}

a.hebergementss:hover::before {
    width: 110%;
}

.activitess {
    display: inline-block;
    position: relative;
    border-top: 3px solid transparent;
    transition: border-color 0.3s ease;
} 

.activitess:hover { 
    color: #0065FC;

}

.hebergementss:hover { 
    color: #0065FC;

}

.hebergementss::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: blue;
    top: -10px;
    left: -1px;
    transition: width 0.3s ease-in-out;}

.activitess::before {
    content: "";
    position:absolute;
    left: -7%;            
    background-color: blue;
    top: -15px;
    transition:transform 0.3s ease;
    height: 5px;
    transform:scaleX(0);
    transform-origin:right;
    }

.activitess:hover::before {
    width: 128%;
    transform:scaleX(1)
}

h2.filter-title {
    font-size: 19px;
    padding-top: 20px;
    margin-left: 48px;
    padding-right: 15px;
}

li {
    height: 14px;
} 
form {
    display: flex;
    margin: 0px 0px 25px 24px;
}

.recherche-button button  {border-top-right-radius: 15px;border-bottom-right-radius:15px;background:#0065FC;color:white;padding: 15px 15px 13px 15px;border: 1px;} 


.search-icon, .search-text {
    display: none; /* Cache la loupe */

}

i.fas.fa-map-marker-alt {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #F2F2F2;
    border: 1px #F2F2F2;
    margin: 0px 0px 0px 30px;
    padding: 14px 20px 15px 20px;
} 
input#search {
    border: solid 1px #F2F2F2;
    padding: 15px 15px 15px 15px;
    font-weight: bolder;
} 

h1 {margin: 35px 0px 0px 53px;font-size: 22px;}

.soustitres {
    margin: 10px 0px 30px 55px;
}
p.filter-title {
    margin-right: 20px;
    margin-top: 1%;
}
ul.filters {
    display: flex;
    gap: 8px;
    list-style: none;
    margin: 28px 0px 0px 0px;
    padding: 0px;
}

ul.filters button {
    width: 150px;
    justify-content: center;
    font-size: 15px;
    padding-left: 17px;
}   


button.economique {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 10px;
    background-color: white;
}

button.Familial {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    display: flex;
    background-color: white;
}

i.fas.fa-solid.fa-money-bill-wave {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-right: 8px;
    color: blue;
    padding-left: 6px;
    padding-right: 5px;
    margin-right: 6px;
}

.filter-header {
    margin-bottom: 25px;
    margin-left: 0px;
    display: flex;
}

i.fas.fa-solid.fa-person {
    color: blue;
    padding: 0px 9px 0px 10px;
}

button.romantique {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 10px 19px;
    background-color: white;
}

i.fas.fa-heart {
    display: flex;
    padding-right: 7px;
    color: blue;
} 

button.nospepites {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 10px 19px 10px 19px;
    background-color: white;
}
i.fas.fa-fire {
    display: flex;
    color: blue;
    margin-right: 7px;
}

button:hover{
   background-color: #DEEBFF;
   transition: all 0.3s ease-in-out;
} 
i.fa-solid.fa-info {
    display: inline-flex;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    justify-content: center;
    padding: inherit;
    margin-right: 10Px;
}

p.soustitress {
    font-size: 16px;
    margin-left: 47px;
}  

h2.afficher-plus {
    font-size: 19px;
    margin-bottom: 1px;
    margin-left: 30px;
    margin-top: 4%;
}

i.fa-solid.fa-money-bill-wave {
    padding-left: 1%;
    margin-left: 3%;
}

.economique strong {
    padding-left: 4%;
}
.Familial strong {
    padding-left: 5%;
}

button.Familial {
    padding: 10px 19px 11px 19px;
    gap: 2%;
    width: 129px!important;
    }

li {padding-left: 0%;}




/* a partir de la on inseres les hebergements */


.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 2px;
    margin-left: 4%;
    width: 83%;
}

.hebergements-cards a {
    margin: 0px;
    width: fit-content;
}

section.hebergements .card {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 44px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 5px;
    /* width: fit-content; */
    width: 240px;
    height: 150px;
}
section.hebergements .card img {
    width: 100%;
    height: 108px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 
section.hebergements {
    width: 63%;
    margin-left: 3%;
    padding-left: 0px;
    padding-top: 0%;
    }
h2.section-titlemarseille {
    margin-top: 3%;
    padding-top: 0%;
    width: auto;
    margin-left: 87px;
}
div.hebergements-and-populaires h2.section-titlemarseille {
    margin-left: 5%;
}


p.card-subtitle span 
{margin: 0px;
    padding: 0%;
}

.hebergements .card-txt H3 {
    margin: 0px;
    width: 198px;
    padding: 1px;
    padding-left: 14px;
    padding-top: 7px;
}



.card-content {
    margin: 0px;
    padding: 0%;
}

.hebergements .card-rating {
    margin: 0px;
    padding-left: 15px;
    padding-bottom: 17px;
}

p.card-subtitle {
    padding-left: 14px;
    padding-bottom: 4px;
    padding-top: 0%;
    margin-top: 7px;
    margin-bottom: 0px;
}

.populaires-cards p.card-subtitle {
    padding-left: 0%;
    margin-top: AUTO;
} 

 section.populaires {
    width: 28%;
} 


h2.section-title {
    margin: 4px;
}

.populaires-title {
    margin: 0px;
    margin-left: 5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    /* width: fit-content; */
    display: flex;
    margin-top: 3%;
    white-space: nowrap;
}

i.fa-solid.fa-chart-line {
    width: fit-content;
    margin-left: 31%;
    margin-top: 4%;
}

.populaires-cards {
    width: 329px;
    padding: 34px;
    padding-top: 0%;
    padding-left: 5%;
} 


section.activitesamarseille {
    display: flex;
    width: 100%;
    gap: 0px;
    margin-top: 3%;
    margin-left: 3%;
}

.cardsmarseille img {
    width: 360px; /* la pas de classe à la base  */
}

.activites-cardsmarseille img {
    width: 300px;
    height: 375px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.activites-cardsmarseille {
    margin-left: 2%;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: fit-content;
}

.card-contentmarseille {
    margin-left: 3%; 

}


.afficher-plustitle {
    margin-left: 2%;
}

header {
    margin-bottom: 40px;
    max-width: 1440px;
}
 /* a partir de la on insere le footer */

 footer {
    display: flex;
    width: 96%;
    background-color: #F2F2F2;
    margin-top: 12%;
    margin-left: 2%;
    margin-right: 13%;
    justify-content: stretch;
    gap: 16%;
}

footer li {
    list-style: none;
    margin-bottom: 7%;
    font-weight: 400;
    text-align: left;
    width: 100%;
}

.footer-container h3 {
    width: 100%;
    margin-left: 40px;
    text-align: left;
} 

.footer-container {
    width: auto;
    margin-left: 0%;
    text-align: center;
} 
  form input#search {
    font-weight: bold;
    color: #000;
    opacity: 21;
    padding-bottom: 12px;
  } 
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
    max-width:1024px!important; 
    }
    
    nav {
        gap: 0;
        padding:0px!important;
        width:100%;
        max-width:1024px!important;
    } header  {
        max-width:1024px;
        width:100%;
        margin-left:0vw!important;
        padding-left:0vw!important;
    }
    .logo {
        align-content:center;
        height:2vw;
        width:6vw;
    }
   .nav-links { 
    font-size:16px;
    gap:50px;  
    justify-content: flex-end !important; 
   }
   header .nav-links{
        display: flex;
        justify-content: flex-end!important;
        align-items: center; 
        line-height:0;
        padding-top:1%!important;
        
    }
    .hebergementss  {
        padding-top:2%!important;
    }
   .hebergementss::before, .activitess::before {
    content: "";
    position: absolute;
    height: 2.2px;
    background-color: #0065FC;
    width:99%!important;
    left: 0;
    right: 0;
    top: -1.1em;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

/* Effet au survol (desktop) */
.hebergementss:hover::before, .activitess:hover::before {
    transform: scaleX(1);
}

/* Effet au clic (mobile & tablette) */
.hebergementss:active::before, .activitess:active::before {
    transform: scaleX(1);
}

/* Désactivation après le clic pour éviter le blocage */
.hebergementss:focus::before, .activitess:focus::before {
    transform: scaleX(0);
}

/* Empêcher l'appui long de garder l'effet sur mobile */
.activitess::before{
    position:absolute;
    top:-1.2em;
    height:1px;
}
header h1 {
    font-size:1.1em;
}
    .filter-header {
        flex-direction:column;
    
    } 

    ul.filters {
        width:100%;
        margin-left:7vw!important;
        margin-top:0%!important;
        margin-bottom:3%!important;
        text-align:center!important;
        gap:2%;
    } h2.filter-title {
        margin-top:0%;
        padding-top:0%;
        margin-left:7vw;
        font-size:1em;
    }
    ul.filters button {
        width:15vw;
        max-width:120px;
        color:black;
        font-size:0.8em!important;
        display:flex;
        justify-content:center!important;
        gap:2%;
        white-space:nowrap;
    } 
    ul.filters button.Familial {
        width:97%!important;
        
    }
    ul.filters li {
        text-align:center!important;
        
    }
    ul.filters i {
        font-size:1.7vw;
    } 
        .soustitress {

            margin-left:7vw!important;
        }
    .main-container{
        flex-direction:column;
}      
    .hebergements-and-populaires {
        flex-direction:column;
        height:auto;
        width:100%;
}
    section.hebergements {
        width:96% !important;
    } 
    div.hebergements-and-populaires h2.section-titlemarseille {
        margin-left:4vw!important;
    }
    .hebergements {
        background-color:#F2F2F2;
        padding:0;
        margin-left:7vw!important;
    }
    .hebergements-cards {
       margin-left:1%!important;
       padding-left:3vw!important;
       grid-template-columns: repeat(0, 1fr);
       gap: 1.5rem;
       padding: 0 auto;
       margin:0 auto;
  }
  .hebergements-cards .card {
      width:26vw!important;
      max-width: 270px;
      min-width:200px;
      height: 16vw!important;
      min-height:125px;
      max-height:165px;
      line-height:1;
  } 

  .hebergements-cards .card h3 {
    font-size: 1.rem; 
  }
  .hebergements-cards .card p {
    font-size: 1rem;
  }
  .hebergements-cards img {
    width: 100%;
    height: 12.5vw!important;
    object-fit: cover;
  }  
    h2.afficher-plus {
        margin-top:1vw!important;
    }
    
    .afficher-plustitle {
        display:flex;
        text-align:left!important;
        padding-bottom:2%;
        padding-top:0%!important;
        margin-left:0%!important;
    }
.populaires {
  display: flex;
  width:96%!important;
  max-width:1024px;
  margin-top: 2vw;
  margin-left:7vw;
  margin-bottom:0%;
  flex-direction: column;
  box-sizing: border-box;
  background-color:#F2F2F2;
} 
.populaires-title {
  margin-left:2.8vw!important;
  text-align: center;
  width: 100%;
  padding:0px;
}  
 i.fa-solid.fa-chart-line {
    display:flex!important;
    align-items:flex-end!important;
    margin-left:59vw!important;
}

    
.populaires-cards {
  display: flex;
  flex-direction: row;
  padding-left:3%!important;
  align-items:start;
  gap: 35px;
  width: 100%;
  margin-top:2%;
}
.populaires-cards .card {
    width:26vw;
    min-width:180px;
    max-width:280px;
    height:auto;
    margin: 0;
    padding-left:0%!important;
    padding:3px;
    padding-right:10%;
    
} .populaires-cards h3 {
    font-size:13px;
    width:19vw;
}
  .populaires-cards .card-txt {
    font-size:12px;
    width:17vw;
  
}
    .populaires-cards img {
        width:36%;
    
        
    } 
    .section-titlemarseille {
        margin-left:10% !important;
    } 

    section.activitesamarseille {
        gap:1.3vw!important;
        margin-top:8%;
        margin-left:7%!important;
    }
    section.activitesamarseille .activites-cardsmarseille {
        width:20vw!important;

    }
    section.activitesamarseille img {
        display:block;
        width:20vw;
        height:22vw;
        object-fit:cover;
    }
    section.activitesamarseille .card-contentmarseille {
        margin-top:1em!important;
        margin-left:1em;
        margin-bottom:2.3em;
        padding-top:0em !important;
        font-size:1.7vw;
        line-height:1;
        height:2vw;
        min-height:10px;
        max-height:2.5vw;

    } 
    footer {
        display:flex;
        width:95%!important;
        height:auto;
        margin-left:7%!important;
    } 
    footer H3 {
        margin-left:10%!important;
        
    }
    footer ul {
        margin-left:10%;
        padding-left:0%!important;
        white-space:nowrap;
        width:18vw!important;
        max-width:220px!important;
        min-width:140px!important;
    }
        footer li {
            line-height:1;
            margin-bottom:13%!important;
        }
    
        }


/* 

/* 
   RESPONSIVE MOBILE (max-width: 768px)
    */

    @media screen and (max-width: 768px) {
        /* Conteneur principal */

        body {
            width:100%!important;
            max-width:768px!important;
        }
        .main-container {
          padding: 0 5vw;
          width:100%!important;
          box-sizing: border-box;
        }
      
        /* Header */ 
    header { 
        max-width:768px!important;
        width:100%;
        margin-left:0vw!important;
        padding-left:0vw!important;
    }
        nav {
          max-width:768px!important;
          width:100%!important;
          flex-direction: column;
          justify-content:center!important;
           align-items: center;
          
        }
        .nav-links {
          width: 100%;
          gap:35vw;
          align-items:center!important;
        
        }
      
        .logo {
            width:19vw;
            height:7vw;
            margin-right:auto;
            padding-bottom:10vw;
        }
        .search-text,.recherche-button strong {
            display: none; /* Cache le texte */
        }
        .search-icon {
            display: inline-block; /* Affiche la loupe*/
            font-size: 18px;
        }
       .search-text {
        display:none;
       }
        /* Barre de recherche */
        form {
          flex-direction: row;
          margin: 0 0 20px 0;
          justify-content: center;
        }
        .search-text {
          display:none;
        }
        .search-icon {
          display: inline-block;
          font-size: 18px;
        }
      
        /* TITRE "Filtres" */
        .filter-title {
          display: block;
          width: 100%;
          font-weight: bold;
          font-size: 18px;
          margin: 5% 0 2% 0;
        }
      
        /* Filtres */
        .filters {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 3% 4%;
        }
        .filters li {
          width: 48%;
          margin-bottom: 13%;
        }
        ul.filters button {
            width:100%!important;
            max-width:300px!important;
            padding-bottom:5%!important;
            gap:5%!important;
            
        } 
        ul.filters i {
            max-width:fit-content;
            font-size:5vw;
        }
      
        /* Section hébergements/populaires */
        .hebergements-and-populaires {
          flex-direction: column;
        }
      
        section.hebergements,
        section.populaires {
          width: 100%;
          margin-left: 0px;
            background-color:#F2F2F2;
        }
      
        .hebergements-cards {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          padding: 0;
          margin: 5% 0;
        }
        section.hebergements .card {
          width: 100%;
        } 
    
           .populaires-title {
               margin-left:0px;
           }
      .populaires {
          padding-left:4%;
          display:flex;
          flex-direction:column!important;
      }
        .populaires-cards {
          display: flex;
          flex-direction:column; 
          max-width:768px; 
          gap: 99px;
          width: 100%;
          padding: 0px;
        }
        .populaires-cards .card {
          width: 100%;
          padding-right:0%;
        }
      
        /* Activités */
        section.activitesamarseille {
          flex-direction: row;
          width: 100%;
          margin: 0;
          padding: 0;
        }
        .activites-cardsmarseille {
          width: 100%;
          margin-bottom: 20px;
            padding-bottom:0px
        }
        .activites-cardsmarseille img {
          width: 100%;
          height: 180px;
        }
      
        /* Footer */
        footer {
          flex-direction: column;
          gap: 20px;
          padding: 5%;
          margin: 0;
        }
        .footer-container {
          width: 100%;
          margin: 0;
          text-align: left;
        }
      }
    