/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
    padding-right: 0px;
}

body {
    justify-content: center;
}

.main-container {
    width: 108%;
    max-width: 1430px;
    padding: 0px 30px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 0px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

div.populaires-title h2 {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    /* margin-inline: 0px; */
    /* margin-top: -21px; */
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 40%;
    height: 124px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
} 


/* à partir de la je prend la main */

nav {
    display: flex;
    width: 100%;
}
.logo {
    width: 61px;
    margin-left: 22px;
    margin-top: 5px;
    height: 19px;
}

.nav-links {
    width: 250px;
    display: flex;
    justify-content: center;
    gap: 36px;
    list-style: none;
    margin-left: 780px;
    margin-top: auto;
    position: absolute;
    right: 20px;
    padding: 0%;
}
.hebergementss { 
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
    width: fit-content;
}

.activitess { 
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
    width: fit-content;
} 

.activitess:hover { 
    color: #0065FC;

}

.hebergementss:hover { 
    color: #0065FC;

}

.hebergementss::before { 

    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: blue;
    top: -10px; ;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.activitess::before { 

    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: blue;
    top: -10px; ;
    right: 0;
    transition: width 0.3s ease-in-out;
}
.hebergementss:hover::before{ 
    width: 57%;
}
.activitess:hover::before{ 
    width: 45%;
}


li {
    height: 14px;
} 
form {
    display: flex;
    margin: 0px 0px 25px 10px;
}

.recherche-button button  {

border-top-right-radius: 15px;
border-bottom-right-radius:15px;
background:#0065FC;
color:white;
padding: 15px 35px 16px 15px;
border: 1px;
}

.search-icon, .search-text {
    display: none; /* Cache la loupe */

}
@media screen and (max-width: 768px) {
    .search-text, strong {
        display: none; /* Cache le texte */
    }
    .search-icon {
        display: inline-block; /* Affiche la loupe*/
        font-size: 18pxx;
    }
   .search-text {
    display: none;
   }
    
} 

i.fas.fa-map-marker-alt {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #F2F2F2;
    border: 1px #F2F2F2;
    margin: 0px 0px 0px 30px;
    padding: 15px 25px 15px 25px;
} 
input#search {
    border: solid 1px #F2F2F2;
    padding: 15px 15px 15px 15px;
} 

h1 {margin: 35px 0px 0px 40px;font-size: 22px;}

.soustitres {
    margin: 9px 0px 30px 40px;
}
p.filter-title {
    margin-right: 20px
    ;margin-top: 1%;
}
ul.filters {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: auto;
}   


button.economique {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px 10px 10px;
    background-color: white;
}

button.Familial {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    display: flex;
    background-color: white;
}

i.fas.fa-solid.fa-money-bill-wave {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding-right: 8px;
    color: blue;
    padding-left: 6px;
    padding-right: 5px;
    margin-right: 6px;
}

.filter-header {
    margin-bottom: 25px;
}

i.fas.fa-solid.fa-person {
    color: blue;
    padding: 0px 9px 0px 10px;
}

button.romantique {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 10px 19px;
    background-color: white;
}

i.fas.fa-heart {
    display: flex;
    padding-right: 7px;
    color: blue;
} 

button.nospepites {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    padding: 10px 19px 10px 19px;
    background-color: white;
}
i.fas.fa-fire {
    display: flex;
    color: blue;
    margin-right: 7px;
}

button:hover{
   background-color: #DEEBFF;
   transition: all 0.3s ease-in-out;
} 
i.fa-solid.fa-info {
    display: inline-flex;
    align-items: center;
    width: 19px;
    height: 19px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    justify-content: center;
    padding: inherit;
    margin-right: 10Px;
}

p.soustitress {
    font-size: 12px;
} 
/* a partir de la on inseres les hebergements */


.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 32px;
}

.hebergements .card {
    width: 100%;
    max-width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0,0,0,0.1));
}


section.hebergements .card {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 42px;
    padding-top: 4px;
    padding-left: 11px;
    padding-right: 15px;
    width: fit-content;
    width: 202px;
    height: 149px;
}
section.hebergements .card img {
    width: 105%;
    height: 108px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 


section.hebergements {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px;
    margin-left: -146px;
    margin-top: 19px;
    height: 57%;
    }

.hebergements-cards .card {
    width: 169px;
    max-width: 300px;
}

h2.section-title {
    position: absolute;
    margin: -20px;
    padding: 6px; 
}
.hebergements-and-populaires {
    margin-left: auto;
    padding: 0px;
    margin-right: auto;
}

h2.section-titlemarseille {
    position: RELATIVE;
    top: -31px;
    height: 0px;
    width: 145px;
    padding: 16px;
    text-align: center;
    white-space: nowrap;
    left: 59px;
    margin-top: 52px;
}



.hebergements-cards .card {
    height: 190px;
    gap: 36px;
}

p.card-subtitle span 
{margin: -1px;
    padding: -2px;
}

.hebergements .card-txt H3 {
    margin: 0px;
    width: 198px;
    padding: 1px;
    padding-left: 14px;
    padding-top: 7px;
}

article.card {
    /* display: flow; */
    justify-content: space-between;
}

.card-content {
    margin: -6px;
    padding: -1px;
}

.hebergements .card-rating {
    margin: -19px;
    padding-left: 33px;
    padding-bottom: 17px;
}

p.card-subtitle {
    padding-left: 15px;
    padding-bottom: 8px;
    padding-top: -5px;
    margin-top: 10px;
} 

section.populaires {
    width: 90%;
    height: 100%;
} 


h2.section-title {
    margin: 4px;
}

.populaires-title {
    margin: 4px;
    margin-left: 2%;
}

i.fa-solid.fa-chart-line {
    margin-left: 291px;
    margin-top: 15px;
}

.populaires-cards {
    width: 326px;
    padding: 11px;
}